strong{
    color: red;
	font-size: 1.4em;
	padding: 2px;
}

em{
	color: green;
}

/* 又粗又横 */
u strong{
	background-color: yellow;
	color: #343131;
}

strong u{
	background-color: yellow;
	color: #343131;
	/* padding: 4px; */
}


/* 小代码 */
/*.rst-content code{*/
/*	background-color: #ededed;*/
/*	color: #243131;*/
/*	border: 1px solid #e7eaed;*/
/*	border-radius: 3px;*/
/*	!*padding: 0;*!*/
/*	padding: 2px 4px 0px 4px;*/
/*	font-size: 0.9em;*/
/*}*/

/* 下划线 */
u {
	/* 默认就一行 */
    text-decoration: underline;
}


 /*隐藏脚注 */
/*footer{*/
/*	visibility: hidden;*/
/*}*/

/* 显示换页按钮*/
.rst-footer-buttons
{
	visibility:visible;
}

body{
  /* font-family:cursive; */
}

blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
	margin-left: 1px!important;
}